* {
  --white: rgb(255, 255, 255);
  --white-grey: rgb(203, 212, 219);
}

.card {
  display: flex;
  flex-direction: column;

  background-color: var(--white-grey);

  border: 2px solid var(--white);
  border-radius: 20px;
  overflow: hidden;
}

.photo {
  object-fit: contain;
  width: 100%;
}
