.leftIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
}

.rightIcon {
  stroke: var(--off-white);
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;

  border-radius: 5px;
  border: 1px solid transparent;

  &:hover,
  &:focus {
    border-color: var(--off-white);
  }
}
