.input {
  padding-right: 48px;
}

.rightIcon {
  stroke: var(--off-white);
  fill: none;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;

  border-radius: 5px;
}
