.input {
  padding-block: 7px;
}

.input::placeholder {
  color: var(--white-transparent);
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
}

@media only screen and (min-width: 1440px) {
  .input {
    padding-block: 16px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1920px) {
  .input {
    font-size: 24px;
  }
}
