.section {
  --list-left-padding: 35px;
  --list-right-padding: 18px;

  --inner-right-padding: calc(
    var(--list-left-padding) - var(--list-right-padding)
  );

  flex: 1;

  padding-block: 40px;
  padding-left: var(--list-left-padding);
  padding-right: var(--list-right-padding);

  gap: 20px;

  flex-direction: column;
}

.list {
  padding-right: var(--inner-right-padding);
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-right: var(--inner-right-padding);
  margin-inline: 8vw;
}

.button {
  font-size: 20px;
  line-height: 26px;
  width: 120px;
  height: 40px;
  background-color: var(--throw-throw-burrito);
}

@media only screen and (min-width: 768px) {
  .section {
    --list-left-padding: 50px;
    --list-right-padding: 20px;

    gap: 32px;
  }

  .footer {
    flex-direction: row;
    gap: 19px;
  }
}

@media only screen and (min-width: 1440px) {
  .section {
    --list-left-padding: 60px;
    --list-right-padding: 26px;

    padding-block: 80px;
    gap: 48px;
  }

  .footer {
    gap: 27px;
  }

  .button {
    width: 171px;
    height: 70px;

    font-size: 30px;
    line-height: 39px;
  }
}

@media only screen and (min-width: 1920px) {
  .section {
    --list-left-padding: 90px;
    --list-right-padding: 23px;

    padding-block: 100px;
  }

  .button {
    width: 181px;
    height: 80px;

    font-size: 40px;
    line-height: 52px;
  }
}
