.editButton {
  margin-left: 8px;
  grid-area: editButton;
}

.editIcon {
  fill: var(--off-white);
}

.logoutButton {
  border: 1px solid #fffdfdd4;
  margin-left: auto;
  grid-area: logoutButton;
  padding-inline: 10px;
  padding-block: 4px;
  display: flex;
  align-items: center;
}

.logoutIcon {
  fill: transparent;
  stroke: var(--off-white);
}

.logoutText {
  display: none;
}

@media only screen and (min-width: 768px) {
  .logoutButton {
    padding-inline: 13px;
    padding-block: 7px;
    align-self: flex-start;
  }

  .logoutIcon {
    width: 20px;
    height: 20px;
  }

  .editIcon {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (min-width: 1440px) {
  .editButton {
    justify-self: flex-start;
  }

  .logoutButton {
    margin-left: 0;
    margin-top: 35px;
    padding-inline: 17.5px;
    padding-block: 7px;
    gap: 10px;
  }

  .logoutIcon {
    width: 33px;
    height: 33px;
  }

  .logoutText {
    display: block;
    font-size: 25px;
    line-height: 33px;
  }
}

@media only screen and (min-width: 1920px) {
  .logoutButton {
    margin-top: 25px;
  }
}
