.wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.avatar {
  display: block;
}

.plusButton {
  position: absolute;

  bottom: -2px;
  right: -2px;

  width: 17px;
  height: 17px;

  border-radius: 50%;
  border: none;

  background: var(--zombie-kittens);
  color: white;

  font-size: 18px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  box-shadow: 0 2px 10px var(--shadow);

  transition:
    transform 0.15s ease,
    scale 0.15s ease,
    background 0.15s ease;
}

.wrapper:hover .plusButton {
  transform: scale(1.1);
  background: var(--zombie-kittens-hover);
}

@media only screen and (min-width: 768px) {
  .plusButton {
    bottom: 4px;
    right: 4px;

    width: 26px;
    height: 26px;
    font-size: 22px;
  }
}

@media only screen and (min-width: 1920px) {
  .plusButton {
    bottom: 5px;
    right: 5px;

    width: 40px;
    height: 40px;
    font-size: 30px;
  }
}
