.section {
  min-height: min-content;
  display: grid;
  grid-template-columns: max-content max-content max-content auto;
  grid-template-areas: "avatar nameContainer editButton logoutButton";
  align-items: center;
  padding-block: 5px;
  padding-inline: 25px;
}

.avatar {
  grid-area: avatar;
}

.nameContainer {
  font-size: 20px;
  margin-left: 8px;
  grid-area: nameContainer;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;
}

.copyIcon {
  fill: var(--off-white);
}

@media only screen and (min-width: 768px) {
  .section {
    grid-template-columns: auto auto;
    grid-template-areas:
      "avatar logoutButton"
      "nameContainer editButton";

    padding-block: 20.5px;
    padding-inline: 26px;
    column-gap: 10px;
  }

  .avatar {
    justify-self: center;
  }

  .nameContainer {
    font-size: 25px;
    line-height: 33px;
    margin-left: 0;
  }

  .copyIcon {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (min-width: 1440px) {
  .section {
    --top-padding: 83px;

    grid-template-columns: auto auto;
    grid-template-areas:
      "avatar avatar"
      "nameContainer editButton"
      "logoutButton logoutButton";
    justify-items: center;
    column-gap: 0;
    padding-top: var(--top-padding);
    padding-bottom: 33px;
  }

  .avatar {
    position: absolute;
    top: calc((var(--top-padding) + 137px / 2) * -1);
  }

  .nameContainer {
    font-size: 30px;
    line-height: 39px;
    justify-self: flex-end;
    margin-left: 30px;
  }
}

@media only screen and (min-width: 1920px) {
  .section {
    --top-padding: 100px;
  }

  .avatar {
    top: calc((var(--top-padding) + 193px / 2) * -1);
  }
}
